/*Login and SignUp*/

.header-logo {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-login {
  background-color: #F6F6F6;
  margin-top: 5%;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 4%;
  width: 350px;
  font-size: 18px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 8%;
}

.select-team {
  margin-top: 5%;
  width: 55%;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 20px;
  font-weight: bolder;
}

.input-submit {
  margin-top: 5%;
  width: 45%;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 20px;
  font-weight: bolder;
}

.link {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

/*Waitress*/

.waitress {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
}

.input-order {
  width: 200px;
  height: 82px;
  background-color: #5DB075;
  color: white;
  border: 2px solid;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.menu-options {
  padding-top: 150px;
}

.menu-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.icon {
  width: 80px;
  padding-left: 5%;
}

.options {
  margin-top: unset;
}

.menu-label {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 15px;
  color: green;
  padding: 3%;
}

.button-and-image {
  display: flex;
  margin-bottom: 25px;
}

.checkOptions {
  padding: 2%;
}

.menu-checkbox-add {
  color: #F6F6F6;
  font-weight: bolder;
  font-size: large;
  width: 26px;
  border-radius: 55px;
  background-color: #5DB075;
  border: none;
}

/* Waitress - Request (Green area)*/

.order-resume {
  background-image: url('./request.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  width: 300px;
  margin-top: 148px;
}

.select-desk-number {
  margin-top: 5%;
  width: 22%;
  border-color: white;
  background-color: white;
  color: #5DB075;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bolder;
}

.input-client-name {
  margin-top: 5%;
  margin-left: 20px;
  padding: 2%;
  width: 59%;
  border-color: white;
  background-color: white;
  color: #5DB075;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bolder;
}

.buttons-client {
  display: flex;
  flex-direction: initial;
  justify-content: left;
}

.button-send-to-kitchen {
  background: url('./sendToKitchen.svg') no-repeat;
  border: 0;
  width: 90px;
  height: 70px;
  cursor: pointer;
  margin-left: 35%;
}

.button-send-to-kitchen:hover {
  background: url('./sendToKitchen.svg') no-repeat;
}

.button-send-to-kitchen:active {
  background: url('./sendToKitchen.svg') no-repeat;
}

.printOrder {
  height: 469px;
  height: 475px;
  margin-top: 5px;
  overflow: auto;
}

.priceOrder {
  margin-top: 30px;
  width: 30%;
}

.btnSend-price {
  display: flex;
  flex-direction: inherit;
}

.show-price {
  border-radius: 10px;
  background-color: #cceb80;
  width: 120px;
  height: 70px;
  margin-left: 5%;
}

.total-price {
  margin-top: 5%;
  margin-left: 5px;
  color: #1d1d1d;
  font-size: 25px;
  font-family: sans-serif;
  padding: 0%;
  font-weight: bolder;
}

.total-price-value {
  padding: 10%;
  font-size: 20px;
  width: 100px;
  font-family: sans-serif;
  font-weight: bolder;
}

.menuOptionSubtract {
  padding: 3%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 15px;
  color: #000000;
}

.menu-checkbox-remove {
  color: #F6F6F6;
  font-weight: bolder;
  font-size: large;
  width: 26px;
  border-radius: 70px;
  background-color: red;
  border: none;
}

/*Modal with errors */

.Modal {
  background-color: White;
  margin-top: 245px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 10%;
  font-size: xxx-large;
  width: 560px;
  padding: 2%;
  font-weight: bolder;
  color: #5cb074;
  border: solid;
}

.modalInstructions {
  font-size: xx-large;
}

/* Orders History*/

.total-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 14px;
  color: black;
  border: green;
}

.section-order {
  border: solid 0.5px black;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.button-reload {
  background: url('./refresh-button.svg') no-repeat;
  border: 0;
  width: 90px;
  height: 70px;
  cursor: pointer;
  margin-left: 125px;
  width: 50px;
  margin-top: 25px;
}

.button-reload:hover {
  background: url('./refresh-button.svg') no-repeat;
}

.button-reload:active {
  background: url('./refresh-button.svg') no-repeat;
}

.label-reload {
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: -72px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 16px;
}

.button-submit-status {
  width: 200px;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.list-icon {
  width: 50px;
}

.item-order {
  padding: 5px;
}