/*Login and SignUp*/

.header-logo {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-login {
  background-color: #F6F6F6;
  margin-top: 5%;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 4%;
  width: 350px;
  font-size: 18px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 8%;
}

.select-team {
  margin-top: 5%;
  width: 55%;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 20px;
  font-weight: bolder;
}

.input-submit {
  margin-top: 5%;
  width: 45%;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 20px;
  font-weight: bolder;
}

.link {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

/*Waitress*/
.waitress {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
}

.input-request {
  width: 200px;
  height: 100px;
  background-color: #5DB075;
  color: white;
  border: 2px solid;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.menu-options {
  padding-top: 150px;
}

.menu-option {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  margin-bottom: 25px;
}

.icon {
  width: 80px;
}

.options {
  margin-top: unset;
}

.menu-label {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 15px;
  color: green;
}

/* Waitress - Request (Green area)*/

.order-resume {
  background-image: url('./request.svg');
  height: 458px;
  width: 224px;
  margin-top: 70%;
}

.select-desk-number {
  margin-top: 5%;
  width: 55%;
  background-color: white;
  color: #5DB075;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 47px;
  cursor: pointer;
}

.input-client-name {
  background-color: #F6F6F6;
  margin-top: 5%;
  color: #0c461c;
  border: 1px solid #0c461c;
  border-radius: 25px;
  padding: 4%;
  width: 150px;
  font-size: 20px;
  margin-left: 28px;
  cursor: pointer;
}

.buttons-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-send-to-kitchen {
  background: url('./sendToKitchen.svg') no-repeat;
  border: 0;
  width: 90px;
  height: 70px;
  cursor: pointer;
  margin-left: 147px;
  margin-top: 286px;
}

.button-send-to-kitchen:hover {
  background: url('./sendToKitchen.svg') no-repeat;
}

.button-send-to-kitchen:active {
  background: url('./sendToKitchen.svg') no-repeat;
}

.Modal {
  background-color: White /* ou #cceb80*/;
  margin-top: 245px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 10%;
  font-size: xxx-large;
  width: 560px;
  padding: 2%;
  font-weight: bolder;
  color: #5cb074;
  border: solid;
}

.modalInstructions {
  font-size: xx-large;
}

/* Orders History*/

.total-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 14px;
  color: black;
  border: green;
}

.section-order {
  border: solid 0.5px black;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.button-reload {
  background: url('./refresh-button.svg') no-repeat;
  border: 0;
  width: 90px;
  height: 70px;
  cursor: pointer;
  margin-left: 125px;
  width: 50px;
  margin-top: 25px;
}

.button-reload:hover {
  background: url('./refresh-button.svg') no-repeat;
}

.button-reload:active {
  background: url('./refresh-button.svg') no-repeat;
}

.label-reload {
  justify-content: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: -72px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
}

.button-submit-status {
  width: 200px;
  background-color: #5DB075;
  color: white;
  border: 8px solid;
  border-radius: 25px;
  padding: 1.7%;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.list-icon {
  width: 50px;
}

.item-order {
  padding: 5px;
}
