.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.input-login {
    background-color: #F6F6F6;
    margin-top: 5%;
    color:#000000 ;
    border: 1px solid #000000 ; 
    border-radius: 2px;
    padding: 4%;
    width: 350px;
    font-size: 18px;   
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 8%;
}

.input-submit {
    margin-top: 5%;
    width: 45%;
    background-color: #5DB075;
    color: white;
    border: 8px solid;
    border-radius: 25px;
    padding: 1.7%;
    font-size: 20px;
    font-weight: bolder;
}
.input-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 41%;
    background-color: #5DB075;
    color: white;
    border: 8px solid;
    border-radius: 25px;
    padding: 1.7%;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.menu-pedidos {
    display: flex;
    flex-direction: column;
    width: 64%;
    
}
.menu-opcao {
    display: flex;
    padding: 5%

}
.opcao2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    margin-left: 40px;
    margin-top: 0%;
    font-size: 15px;
    font-weight: bolder;
}
.checkOptions {
    padding: 10px;
}
.inserir-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
    margin-top: 3%;
    width: 152px;
    background-color: white;
    color: #5DB075;
    border: 1px solid #5DB075;
    border-radius: 25px;
    padding: 1.7%;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.mesa {
    background-color: #bae86b;
    border-radius: 18px;
    margin-top: 200px;
}
.garçon {
    display: flex;
    flex-direction: initial;
}
.icone {
    padding: 0%;
    margin-left: 5%;
    margin-top: 5%;
    width: 10%;
}