@media screen and (min-width: 1020px) {
  .position-screen {
    margin-top: 10%;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-around;
  }

  .menu-option {
    justify-content: space-between;
  }

  .menu-options {
    padding-left: 35px;
    padding-top: 122px;
  }

  .input-request {
    width: 220px;
    height: 80px;
  }

  .icon {
    width: 80px;
  }

  .order-resume {
    background-image: url(./request-phone.svg);
    background-repeat: no-repeat;
    width: 522px;
    height: 666px;
    margin-top: 100px;
  }

  .select-desk-number {
    margin-left: 32px;
    width: 75px;
    text-align: center;
  }
  
  .input-client-name {
    width: 223px;
  }

  .printOrder {
    height: 495px;
  }

  .button-send-to-kitchen {
    margin-left: 50%;
  }

}

@media screen and (max-width: 657px) {
  .input-login {
    width: 50%;
  }

  .input-submit {
    width: 30%;
  }

  .buda-logo {
    width: 30%;
  }

  .name-logo {
    width: 60%;
  }

  .waitress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-options {
    padding-top: 90px;
  }

  .input-request {
    width: 200px;
    height: 80px;
    font-size: 15px;
  }

  .icon {
    width: 60px;
  }

  .order-resume {
    background-image: url(./request.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .priceOrder {
    margin-top: 30px;
    width: 30%;
  }

  .printOrder {
    height: 470px;
    overflow: auto;
  }

  .show-price {
    border-radius: 10px;
    background-color: #cceb80;
    width: 120px;
    height: 70px;
  }

  .button-send-to-kitchen {
    margin-left: 35%;
  }

  .Modal {
    font-size: x-large;
  }

  .modalInstructions {
    font-size: large;
  }

  .input-modal {
    width: 100px;
    height: 42px;
    font-size: 12px;
  }

}

@media screen and (max-width: 360px) {
  .input-request {
    width: 115px;
    height: 65px;
    font-size: 10px;
  }

  .button-send-to-kitchen {
    margin-left: 25%;
  }

  .Modal {
    font-size: x-large;
  }

  .modalInstructions {
    font-size: large;
  }

  .input-modal {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
}

  @media screen and (max-width: 700px) {
    .button-reload {
      margin-left: 100px;
    }
    .label-reload {
      margin-top: 13px;
    }

  }